body{
    /*background-color: rgb(138,43,226);*/
    background-image: url("../media/2001.jpg");
    background-size: 500px;
    /* background-repeat: repeat-x; */
    width: 250px;
    height: 200px;
    overflow: scroll;
    background-attachment: fixed;
    font-family: 'courier';

}

h1{
    background-color:blanchedalmond; 
    border: solid 20px red;
    border-bottom: dotted 10px yellow;
}












/*body{
    background-color:rgb(187, 255, 0);
    color: red;
}

h1{
    color:aqua;
}

p{
    color:blue;
}

#ptagg2{
    color:white;
}

.haje{
    color: darkgreen;
}

h1, p{
    font-family:'Courier New', Courier, monospace;
    color: black;
}
*/





